<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="univaq.aq.it.abruzzotourism">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ProfiloAttivita.AggiungiPrenotazioneActivity"></activity>
        <activity android:name=".Activities.ProfiloAttivita.ModificaPrenotazioneActivity" />
        <activity android:name=".Activities.ProfiloAttivita.AggiungiattivitaActivity" />
        <activity android:name=".Activities.ProfiloAttivita.ProfiloAttivitaActivity" />
        <activity android:name=".Activities.ProfiloAttivita.SigninAttivitaActivity" />
        <activity android:name=".Activities.ProfiloTurista.ProfiloActivity" />
        <activity android:name=".Activities.Search.SearchActivity" />
        <activity android:name=".Activities.ProfiloTurista.SigninActivity" />
        <activity
            android:name=".Activities.login.Login"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Prenotazione.MetodoDiPagamentoActivity" />
        <activity android:name=".Activities.Prenotazione.RiepilogoPrenotazioneActivity" />
        <activity android:name=".Activities.Prenotazione.PrenotaActivity" />
        <activity android:name=".Activities.Prenotazione.DettagliAttivitaActivity" />
        <activity android:name=".Activities.Home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>